a {
  text-decoration: none;
}

.features {
  ul {
    margin-left: 0;
    padding-left: 15px;
  }
}

.jumbotron {
  text-align: center;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  background-image: asset-url('camera.jpeg');
  background-size: cover;
  background-position: center;
  color: #fff;
  font-stretch: expanded;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-left: 15px;
  margin-right: 15px;
  text-shadow: -1px 0 #555, 0 1px #555, 1px 0 #555, 0 -1px #555;
  border-radius: 5px;

  * {
    flex: 100%
  }
}

.no-left-padding {
  padding-left: 0 !important;
}

.listing {
  list-style: none;
  padding-left: 0;
}